.splide__arrows {
	display: flex;
	gap: 10px;
	direction: ltr;

	.splide__arrow {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 53px;
		height: 53px;
		flex: 0 0 53px;

		border-radius: 100%;
		background: white;


		&:disabled {
			cursor: default;
			opacity: .5;
		}
	}

	@media (width < 1024px) {}
}